/* #navbar {
    flex-direction: column;
}

#services {
    flex-direction: column;
    overflow: hidden;
}

#navbar a {
    overflow: hidden;
}

.about::before {
    content: "";
    background: url(Source/bg.jpg) center center / cover no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    right: 0px;
    left: 0px;
    bottom: -329.9%;
}

#home {
    height: 600px;
}

#home::before {
    height: 600px;
}

#home p {
    font-size: 0.8rem;
}

.hprimary {
    font-size: 23px;
} */


/* Navigation */

#navbar {
    flex-direction: column;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}


/* Home section */

#home {
    height: 370px;
    padding: 3px 28px;
}

#home::before {
    height: 480px;
}

#home p {
    font-size: 13px;
}


/* Services section  */

#services {
    flex-direction: column;
}

#services .box {
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
}


/* Clients section */

#about {
    flex-wrap: wrap;
}

#about img {
    width: 66px;
    padding: 6px;
    height: auto;
}


/* Contact us section */

#contact-box form {
    width: 80%;
}


/* Footer */


/* Utility classes */

.hprimary {
    font-size: 26px;
}

.btn {
    font-size: 13px;
    padding: 4px 8px;
}