#navbar {
    flex-direction: column;
}

#services {
    flex-direction: column;
    overflow: hidden;
}

#navbar a {
    overflow: hidden;
}

.about::before {
    content: "";
    background: url(Source/bg.jpg) center center / cover no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    right: 0px;
    left: 0px;
    bottom: -329.9%;
}

#home {
    height: 600px;
}

#home::before {
    height: 600px;
}

#home p {
    font-size: 0.8rem;
}

.primary {
    font-size: 23px;
}